.header{
    background-color: blueviolet;
}

h2{
    background-color: aliceblue;
    color: brown;
    text-align: center;
}

img{
    border: 1px dotted dodgerblue;
    margin: 80px 80px;
}

h3{
    text-align: center;
    background-color: lavender;
    color: brown;
}